* {
  background: rgb(106, 102, 102);
  text-align: center;
}

h1 {
  color: rgb(82, 46, 46);
  position: relative;
}

li {
  color: rgb(255, 255, 255);
}

button {
  color: black;
  background: rgb(19, 169, 180);
}

button:hover {
  color: rgb(255, 255, 255);
}
